.App-header {
  background-color: #97B5BF;
  height: 40px;
  padding: 15px;
  color: white;
  border-bottom: 8px solid #F7CDA9;
  display: flex;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(122, 122, 122);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F7CDA9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F7CDA9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.title {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 5px;
  padding-left: 20vw;
  display: inline-block;
  position: relative;
  margin: 0
}

.button {
    font-family: 'Noto Sans', sans-serif;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.button1 {
    background-color: white;
    color: black;
    border-bottom: 5px solid #F7CDA9;
}

.button1:hover {
    background-color:  #97B5BF;
    color: white;
}

.content {
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.map {
  width: 100%;
  position: relative;
  background-color: rgb(44, 124, 136)
}

.sideMenu {
  position: relative;
  width: 40%;
  overflow: scroll;
  background-color: #97B5BF;
  z-index: 200;
}

.sidebar-list {
list-style-type: none;
padding: 5px 10px 5px 5px;
}

.search-top {
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d8df;
  display: flex;
}

.search-contacts {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('/public/icon/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.infoButton {
  background-color: white;
  color: black;
  border: 3px solid #F7CDA9;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
  width: 200px;
}

.infoButton:hover {
    background-color:  #97B5BF;
    color: white;
}
